body{
    margin: 0px;
}

*{
    box-sizing: border-box;
}


h1{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 500;
    margin: 0px 0px 16px;
    color: white;
    font-size: 64px;
    line-height: 1;
}

/*Display padrao para <div>*/
div{
    display: block;
}

div.cabecalho{
    height: 72px;
    background-color: #24292e;
    padding: 0px;

}

div.rodape{
    height: 277px;
    background-color: #fff;
    background-image: url(../images/bolinhas.jpg);
    background-position: center 10%;
}

div.roda_01{
    height: 277px;
    width: 980px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

div.roda_02{
    height: 195px;
    width: 737px;
    padding: 40px;
    margin-left: 82px;
    margin-right: 82px;
}

h2.h2_roda{
    color: #242931;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0px;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

p.p_01{
    width: 737px;
    margin-bottom: 16px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 0;
    color: #586069;
    font-size: 16px;
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

p.p_02{
    height: 58px;
    margin-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 0;
    line-height: 1.5;
}

p.p_03{
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
}

a.a_01{
    background-color: #1074e7;
    border: 1px solid #1074e7;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 24px;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

a.a_02{
    color: #0366d6;
    text-align: center;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    line-height: 1.5;
}

div.cabe_01{
    height: 72px;
    width: 95%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

ul.ul_01{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    display: inline;
}

li.li_01{
    float: left;
}

li.li_02{
    float: right;
}

a.a_a1{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    line-height: 1.5;
    font-size: 16px;
}

a.a_aa{
    display: block;
    color: white;
    text-align: center;
    padding-top: 0px;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    line-height: 1.5;
    font-size: 16px;
}

span.teste{
    color: darkgray;
}

span.teste2{
    color: transparent;
}

menu{
    display: inline;
    padding: 8px;

}

div.teste22{
    height: 30px;
    width: 100%;
    background-color: gray;
}

body{
    margin: 0px;
    line-height: 1.5;
}

div.corpo{
    background-image: url(https://github.githubassets.com/images/modules/site/heroes/simple-codelines.svg);   
    background-color: #2b3137;
    background-position: center 10%;
    background-size: cover;
    padding: 64px 0;
    /*margin: auto;*/
    /*height: 631px;*/
}

div.teste{
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    max-width: 1028px;
}

.parte-centro{
    align-items: center;
    display: flex;
}

.built-developers{
    float: left;
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    text-align: left;
    float: left;
    color: white;
    width: 58.3333%;
}

p{  
    color: hsla(0,0%,100%,.6);
    margin: 0px 0px 24px;
    font-size: 20px;
    font-weight: 400;
    font-family: Inter, -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

button.Sign-Up{
    margin: 0;
    font-family: inherit;
    color: white;
    background: #2EBC4F;
    border: 1px solid #2EBC4F;
    border-radius: 3px;
    padding: 20px 32px;
    margin: 32px 0px 16px 0px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

button.after{
    display: none;
}

form{
    text-align: left;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

div.formulario{
    float: right;
    padding: 0 24px 0 24px;
    width: 50%;
    
}

div.formulario2{
    background: white;
    border-radius: 3px;
    
    padding: 24px;
}

.formulario-texto{
    font-size: 12px;
    margin-bottom: 0;
    margin-top: -10px;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.formulario-texto2{
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 16px;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

input{
    display: block;
    border-radius: 5px;
    font-size: 16px;
    min-height: 46px;
    padding: 10px;
    background-color: #fafbfc;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #d1d5da;
}

label.formulario{
    margin-bottom: 5px;
    text-align: left;
    position: static;
    margin-top: 15px;
    color: #24292e;
    font-weight: 600;
    font-size: 14px;
}

.link-built-developers{
    color: white;
    border-bottom: 1px solid hsla(0,0%,100%,.125);
    font-weight: 400;
}

a{
    color: #0366d6;
    text-decoration: none;
}

@media (max-width: 1024px){
    .some{
        display: none;
    }
}

@media (max-width: 768px){
    .built-developers{
        text-align: center;
        display: block;
        float: center;
    }
    .corpo{
        align-items: center;
        height: 750px;
    }
    .parte-centro{
        display: inline;
        align-items: center;
        margin: auto;
    }
    button.after{
        display: block;
        float: center;
        width: 66.67%;
        margin: 24px;
    }
    .formulario{
        display: none;
    }
}