<!DOCTYPE html>
<html>

    <head>
        <title>Cadastro Usuario</title>

        <meta http-equiv="content-Language" content="pt-br" charset="UTF-8">
        <link rel="fluid-icon" herf="https://github.com/fluidicon.png" title="GitHub">
        <title>The world’s leading software development platform · GitHub</title>
        <meta name="description" content="GitHub brings together the world’s largest community of developers to discover,
                                                    share, and build better software. From open source projects to private team repositories,
                                                    we’re your all-in-one platform for collaborative development.">
        <link rel="stylesheet" type="text/css" href="/style/style.css">

    </head>

    <body>
        <!--Cabeçalho-->
        <div class="cabecalho">
            <div class="cabe_01">
                <ul class="ul_01">
                    <li class="li_01 "><a class="a_aa" href="/"><img src="../images/logo.jpg" /></a></li>
                    <li class="li_02 some"><a class="a_a1" style="padding-left: 12px; padding-right: 12px;"
                            href="login">Sign
                            in</a></li>
                </ul>
            </div>
        </div>


        <!--Div que alinha centralmente elementos da página-->
        <div class="teste">
            <h2>Cadastro Efetuado com sucesso!</h2>


            <!--Colocando uma div a mais para teste-->

            <div class="center_pub">
                <form action="login" method="get">
                    <div>
                        <button class="Sign-Up">Login</button>
                    </div>
                </form>
            </div>

        </div>

    </body>

</html>