<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-Language" content="pt-br" charset="UTF-8">
        <link rel="fluid-icon" herf="https://github.com/fluidicon.png" title="GitHub">
        <title>The world’s leading software development platform · GitHub</title>
        <meta name="description" content=   "GitHub brings together the world’s largest community of developers to discover,
                                            share, and build better software. From open source projects to private team repositories,
                                            we’re your all-in-one platform for collaborative development.">
        <link rel="stylesheet" type="text/css" href="/style/style.css">
    </head>
    <body>
        <!--Cabeçalho-->
        <div class="cabecalho">
            <div class="cabe_01">
        
                <ul class="ul_01">
                    <li class="li_01 "><a class="a_aa"><span><img src="/images/logo.jpg"></img></span></a></li>
                    <li class="li_01 some"><a class="a_a1"><span class="teste2">...</span>Why GitHub?<span
                                class="teste"></span><img src="/images/v.jpg"></img></span></a></li>
                    <li class="li_01 some"><a class="a_a1">Enterprise</a></li>
                    <li class="li_01 some"><a class="a_a1">Explore <span class="teste"></span><img
                                src="/images/v.jpg"></img></span></a></li>
                    <li class="li_01 some"><a class="a_a1">Marketplace</a></li>
                    <li class="li_01 some"><a class="a_a1">Pricing <span class="teste"></span><img
                                src="/images/v.jpg"></img></span></a></li>
                    <li class="li_02 ap"><a class="a_aa"><span><img src="/images/menu.jpg"></img></span></a></li>
                    <li class="li_02 up"><a class="a_a1up" href="cadastro_usuario">Sign up</a></li>
                    <li class="li_02 some"><a class="a_a1" style="padding-left: 12px; padding-right: 12px;"
                    href="login">Sign in</a></li>
                    <li class="li_02 some">
                        <a class="search">
                            <form action="">
                                <input type="text" class="search" placeholder="Search GitHub"/>
                                <img src="/images/barra.svg" class="search" alt="Buscar"/>
                           </form>
                        </a>

                    </li>

                <!--    <li class="li_02 some" style="height: 41px"><a class="a_a1" style="padding: 0px;"><span
                                class="teste"></span><img src="images/search.jpg"></img></span></a></li>
                -->
                </ul>
            </div>
        
        </div>
        
        <!--Corpo-->
        <div class="corpo">
            <!--Colocando uma div a mais para teste-->
            <div class="teste">
                <div class="parte-centro">
                    <div class="built-developers">
                        <h1 class="text-white">Built for developers</h1>
                        <p>
                            GitHub is a development platform inspired by the way you work. From
                            <a href="" class="link-built-developers">open source</a> to <a href=""
                                class="link-built-developers">business</a>, you
                            can host and review code, manage projects, and build software alongside 36 million&nbsp;developers.
                        </p>
                    </div>
        
                    <div class="formulario">
                        <div class="formulario2">
                            <form action="cadastro_usuario" method="POST">
                                <label class="formulario">Username</label>
                                <input class="corpo" type="text" name="username" value="">
        
                                <label class="formulario">Email</label>
                                <input class="corpo" type="text" name="email" value="">
        
                                <label class="formulario">Password</label>
                                <input class="corpo" type="password" name="password" value="">
        
                                <p class="formulario-texto">Make sure it's <span>at least 15 characters</span> OR
                                    <span>at least 8 characters</span> <span>including a number</span> <span>and a lowercase
                                        letter</span>.
                                    <a href="" class="forumlario-link">Learn more</a>.</p>
                                <button class="Sign-Up" type="submit">Sign Up for GitHub</button>
        
                                <p class="formulario-texto2">
                                    By clicking “Sign up for GitHub”, you agree to our
                                    <a href="">Terms of Service</a> and
                                    <a href="">Privacy Statement</a>. <span>We’ll occasionally send you account-related
                                        emails.</span>
                                </p>
                            </form>
                        </div>
                    </div>
                    <button class="Sign-Up responsivel">Sign Up for GitHub</button>
                </div>
            </div>
        </div>
        
        <!--Rodapé-->
        <div class="rodape">
            <div class="roda_01">
                <div class="roda_02">
                    <h2 class="h2_roda">Get started with GitHub Enterprise</h2>
                    <p class="p_01">Take collaboration to the next level with security and administrative features built for
                        businesses.</p>
                    <p class="p_02">
                        <a class="a_01">Contact Sales</a>
                    </p>
                    <p class="p_03">
                        <a class="a_02">
                            Or start a free trial of Enterprise Server →
                        </a>
                    </p>
                </div>
            </div>
        </div>
        
    </body>
</html>