<!DOCTYPE html>
<html>

    <head>
        <title>Usuario</title>

        <meta http-equiv="content-Language" content="pt-br" charset="UTF-8">

    </head>

    <body>
        <h1> Página secreta <span><%= nome %></span></h1>
    </body>