<!DOCTYPE html>
<html>

    <head>
        <title>Cadastro Usuario</title>

        <meta http-equiv="content-Language" content="pt-br" charset="UTF-8">
        <link rel="fluid-icon" herf="https://github.com/fluidicon.png" title="GitHub">
        <title>The world’s leading software development platform · GitHub</title>
        <meta name="description" content="GitHub brings together the world’s largest community of developers to discover,
                                                    share, and build better software. From open source projects to private team repositories,
                                                    we’re your all-in-one platform for collaborative development.">
        <link rel="stylesheet" type="text/css" href="/style/style.css">

    </head>

    <body>
        <!--Cabeçalho-->
        <div class="cabecalho">
            <div class="cabe_01">
                <img src="/images/logo.jpg"></img>
            </div>
        </div>

        
        <!--Div que alinha centralmente elementos da página-->
        <div class="teste">
            <div class="formulario"></div>
            <h2>Login</h2>
            <form action="login_usuario" method="POST">
                <label class="formulario">Username</label>
                <input class="corpo" type="text" name="username" value="">

                <label class="formulario">Password</label>
                <input class="corpo" type="password" name="password" value="">

                <button class="Sign-Up">Sign In</button>
            </form>
        </div>

        </div>
    </body>