<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-Language" content="pt-br" charset="UTF-8">
        <link rel="fluid-icon" herf="https://github.com/fluidicon.png" title="GitHub">
        <title>The world’s leading software development platform · GitHub</title>
        <meta name="description" content=   "GitHub brings together the world’s largest community of developers to discover,
                                            share, and build better software. From open source projects to private team repositories,
                                            we’re your all-in-one platform for collaborative development.">
        <link rel="stylesheet" type="text/css" href="../style/style.css">
    </head>
    <body>
        <!--Cabeçalho-->
        <div class="cabecalho">
            <div class="cabe_01">
        
                <ul class="ul_01">
                    <li class="li_01 "><a class="a_aa" href="/"><span><img src="../images/logo.jpg"></img></span></a></li>
                    <li class="li_02 up"><a class="a_a1up" href="logout">SAIR</a></li>
                    <li class="li_02 some"><a class="a_a1" style="padding-left: 12px; padding-right: 12px;"
                            href="/tela_busca"><%= username %></a></li>
                    

                <!--    <li class="li_02 some" style="height: 41px"><a class="a_a1" style="padding: 0px;"><span
                                class="teste"></span><img src="images/search.jpg"></img></span></a></li>
                -->
                </ul>
            </div>
        
        </div>
        
        <!--Corpo-->
        <div class="corpo2">
            <!--Colocando uma div a mais para teste-->
            <div class="teste3">
                <div class="center_pub">
                    <div class="center_pub2">
                        <form action="/files" method="post" enctype="multipart/form-data">
                            <a class="pub">Publish Page</a><br><br>
                            <div style="float: right; padding-left: 50px;"><input type="file" name="uploadfile"></div>
                            <div>
                                <button class="back_send" type="submit" style="margin-top: 35px;">Send</button>  
                            </div>
                        </form>

                        <form action="/tela_busca">
                            <div>
                                <button class="back_send" type="submit" 
                                style="margin-top: 10px; background: rgb(121, 121, 121);
                                        border: 1px solid rgb(0, 0, 0);">
                                        Back</button> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>