<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-Language" content="pt-br" charset="UTF-8">
        <link rel="fluid-icon" herf="https://github.com/fluidicon.png" title="GitHub">
        <title>The world’s leading software development platform · GitHub</title>
        <meta name="description" content=   "GitHub brings together the world’s largest community of developers to discover,
                                            share, and build better software. From open source projects to private team repositories,
                                            we’re your all-in-one platform for collaborative development.">
        <link rel="stylesheet" type="text/css" href="../style/style.css">
    </head>
    <body>
        <!--Cabeçalho-->
        <div class="cabecalho">
            <div class="cabe_01">
        
                <ul class="ul_01">
                    <li class="li_01 "><a class="a_aa"><span><img src="../images/logo.jpg"></img></span></a></li>
                    <li class="li_01 some"><a class="a_a1"><span class="teste2">...</span>Why GitHub?<span
                                class="teste"></span><img src="../images/v.jpg"></img></span></a></li>
                    <li class="li_01 some"><a class="a_a1">Enterprise</a></li>
                    <li class="li_01 some"><a class="a_a1">Explore <span class="teste"></span><img
                                src="../images/v.jpg"></img></span></a></li>
                    <li class="li_01 some"><a class="a_a1">Marketplace</a></li>
                    <li class="li_01 some"><a class="a_a1">Pricing <span class="teste"></span><img
                                src="../images/v.jpg"></img></span></a></li>
                    <li class="li_02 ap"><a class="a_aa"><span><img src="../images/menu.jpg"></img></span></a></li>
                    <li class="li_02 up"><a class="a_a1up">Sign up</a></li>
                    <li class="li_02 some"><a class="a_a1" style="padding-left: 12px; padding-right: 12px;"
                    href="../screens/tela_login.html">Sign in</a></li>
                    <li class="li_02 some">
                        <a class="search">
                            <form action="">
                                <input type="text" class="search" placeholder="Search GitHub"/>
                                <img src="../images/barra.svg" class="search" alt="Buscar"/>
                           </form>
                        </a>

                    </li>

                <!--    <li class="li_02 some" style="height: 41px"><a class="a_a1" style="padding: 0px;"><span
                                class="teste"></span><img src="images/search.jpg"></img></span></a></li>
                -->
                </ul>
            </div>
        
        </div>
        
        <!--Corpo-->
        <div class="corpo2">
            <!--Colocando uma div a mais para teste-->
            <div class="teste3">
                <!--
                <div class="search_busca">
                    <form action="busca">
                        <input type="text" class="search_busca" placeholder="Search Files"/>
                        <img src="../images/barra.svg" class="search" alt="Buscar"/>
                    </form>
                </div>
                
                <h2>Olaaaaaaaaa</h2>
                <h2>Eaeeeeee</h2>
                -->
                <div class="center_pub">
                    <div class="center_pub2">
                        <form action="" method="post" enctype="multipart/form-data">
                            <a class="pub">Publish Page</a><br><br>
                            <div style="float: right"><input type="file" name="filetoupload"></div>
                            <button class="Sign-Up" type="submit">Send</button>  
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>